{% extends "base.html" %} {% load static %} {% block content %}
<div class="container-fluid">
  {% if messages %} {% for message in messages %}
  <div class="container-fluid" style="padding-top: 10px">
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="close"
      ></button>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class=""
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
      class=""
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
      class="active"
      aria-current="true"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item" style="height: 350px">
      <img
        class="bd-placeholder-img"
        width="100%"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        src="{% static 'assets/grad.jpg' %}"
        alt="logo"
      />

      <div class="container">
        <div class="carousel-caption text-start">
          <h1>
            Welcome
            <span style="color: brown">Home!</span>
          </h1>
          <p>
            There’s
            <span style="color: rgb(0, 0, 0)"
              >something for everyone at AcademiaDoc Alumni. We’re here to help
              you process, connect, learn and grow every step of the way.</span
            >
          </p>
          <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item active carousel-item-start" style="height: 350px">
      <img
        class="bd-placeholder-img"
        width="100%"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        src="{% static 'assets/grad1.jpg' %}"
        alt="logo"
      />

      <div class="container">
        <div class="carousel-caption">
          <h1>Transcripts.</h1>
          <p>
            Alumni Records Department is available to process your requests and
            update all necessary information about your student records.
          </p>
          <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div
      class="carousel-item carousel-item-next carousel-item-start"
      style="height: 350px"
    >
      <img
        class="bd-placeholder-img"
        width="100%"
        aria-hidden="true"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        src="{% static 'assets/grad2.jpg' %}"
        alt="logo"
      />

      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Graduating Class of 2023</h1>
          <p>
            Stepping into the global network of past alumni spread across
            different parts of the world and across different industries.
          </p>
          <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-fluid">
  <div class="row" style="padding: 1.5rem">
    <div class="col-lg-6">
      <h4>
        Here, Alumni stay informed about events, news, and activities related to
        their alma mater. Records of alumni and respective accomplishments are
        maintained. The goal is to create a sense of community among alumni,
        foster lifelong connections with their alma mater, and help support the
        ongoing success of the institution.
      </h4>
      <div style="margin-top: 2rem">
        We're working on other service offerings to Alumni for viewing and
        interacting with upcoming alumni events, searching through the Alumni
        directory of all our past students, as well as give you an opportunity
        to submit your feedback to the school in order to help improve the
        quality of our offerings. For the current release, the Request
        Transcripts Portal is fully functional! Others to follow soon. Thank you
        for your patience. 😊
      </div>
    </div>
    <div class="col-lg-6" style="text-align: -webkit-center">
      <div class="row">
        <!-- /.col-lg-6 -->
        <div class="col-lg-6" style="text-align: -webkit-center">
          <div
            style="
              position: relative;
              top: 0;
              left: 0;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <svg
              class="bd-placeholder-img rounded-circle"
              width="140"
              height="140"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 140x140"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              style="position: relative"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#f0f0f0"></rect>
            </svg>
            <img
              height="100"
              src="{% static 'assets/transcript.png' %}"
              alt="logo"
              style="position: absolute"
            />
          </div>
          <p style="margin-top: revert">
            <a class="btn btn-primary" href="{% url 'transcript' %}"
              >Request Transcripts</a
            >
          </p>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6" style="text-align: -webkit-center">
          <div
            style="
              position: relative;
              top: 0;
              left: 0;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <svg
              class="bd-placeholder-img rounded-circle"
              width="140"
              height="140"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 140x140"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              style="position: relative"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#f0f0f0"></rect>
            </svg>
            <img
              height="80"
              src="{% static 'assets/events.png' %}"
              alt="logo"
              style="position: absolute"
            />
          </div>
          <p style="margin-top: revert">
            <a class="btn btn-primary" href="#">Upcoming Events</a>
          </p>
        </div>
        <!-- /.col-lg-6 -->
      </div>
      <div class="row" style="margin-top: 2rem">
        <!-- /.col-lg-6 -->
        <div class="col-lg-6" style="text-align: -webkit-center">
          <div
            style="
              position: relative;
              top: 0;
              left: 0;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <svg
              class="bd-placeholder-img rounded-circle"
              width="140"
              height="140"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 140x140"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              style="position: relative"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#f0f0f0"></rect>
            </svg>
            <img
              height="100"
              src="{% static 'assets/directory.png' %}"
              alt="logo"
              style="position: absolute"
            />
          </div>
          <p style="margin-top: revert">
            <a class="btn btn-primary" href="#">Alumni Directory</a>
          </p>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6" style="text-align: -webkit-center">
          <div
            style="
              position: relative;
              top: 0;
              left: 0;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            <svg
              class="bd-placeholder-img rounded-circle"
              width="140"
              height="140"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 140x140"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              style="position: relative"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#f0f0f0"></rect>
            </svg>
            <img
              height="100"
              src="{% static 'assets/chat.png' %}"
              alt="logo"
              style="position: absolute"
            />
          </div>
          <p style="margin-top: revert">
            <a class="btn btn-primary" href="#">Submit Feedback</a>
          </p>
        </div>
        <!-- /.col-lg-6 -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
